 <div class="mb-24">
 <div class="  hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Gestion de données du service de missions</h1>
      <br>
      
      
     <div class="flex flex-wrap justify-center">
  <img class="w-max"
  src="{{ asset('images/logobdd.png')}}"
  
  alt="..."
/>
</div>

<button class="btn btn-active btn-ghost">Login</button>


    
    </div>
  </div>
</div>
</div>