{% extends 'base.html.twig' %}

{% block title %}Hello AdminHideoutController!
{% endblock %}

{% block content %}

	<div class="tabs flex justify-center object-top">
		<a class="tab sm:tab-lg tab-bordered ">Mission(s)</a>
		<a class="tab sm:tab-lg tab-bordered ">Agent(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Cible(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Contact(s)</a>
		<a class="tab sm:tab-lg tab-bordered tab-active">Planque(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Spécialité(s)</a>
	</div>


	<div class="flex justify-center mt-4 gap-2">

		<button class="btn btn-xs btn-warning">Modifier</button>
		<button class="btn btn-xs btn-success ">Accepter</button>
		<button class="btn btn-xs btn-error">Supprimer</button>

	</div>

	<div class="grid overflow-hidden grid-cols-12 grid-rows-10 gap-9 justify-items-center p-8">
		<div class="box row-start-3 row-span-1 col-start-5 col-span-4">

			<div class="box row-start-3 row-span-1 col-start-5 col-span-4">

				<input type="text" placeholder="Numéro de code" class="input input-bordered input-lg w-max max-w-xs text-center"/>

			</div>

		</div>
		<div class="box row-start-4 col-start-5 col-span-4">

			<div class="box row-start-3 row-span-1 col-start-5 col-span-4">

				<input type="text" placeholder="Type" class="input input-bordered input-lg w-max max-w-xs text-center"/>

			</div>

		</div>
		<div class="box row-start-5 col-start-3 col-span-8">

			<div class="box row-start-3 row-span-1 col-start-5 col-span-4">

				<input type="text" placeholder="Adresse de la planque" class="input input-bordered input-lg w-max max-w-xs text-center"/>

			</div>

		</div>
		<div class="box row-start-6 col-start-5 col-span-4">

			<select class="select select-bordered select-sm w-max max-w-xs">
				<option disabled selected>Nationalité</option>
				<option>Small Apple</option>
				<option>Small Orange</option>
				<option>Small Tomato</option>
			</select>

		</div>
	</div>
{% endblock %}
