{% extends "@EasyAdmin/page/content.html.twig" %}


{%block content %}


<div class=" container-fluid  ">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center display-1">
				WELCOME ADMINISTRATOR
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="d-flex justify-content-center">
				<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_qp1q7mct.json"  background="transparent"  speed="1"  style="width: 700px; height: 700px;"  loop  autoplay></lottie-player>
			</div>
		</div>
	</div>
</div>


                
{% endblock %}