{% extends 'base.html.twig' %}

{% block title %}Hello AdminTargetController!
{% endblock %}

{% block content %}
	<div class="tabs flex justify-center object-top">
		<a class="tab sm:tab-lg tab-bordered ">Mission(s)</a>
		<a class="tab sm:tab-lg tab-bordered ">Agent(s)</a>
		<a class="tab sm:tab-lg tab-bordered tab-active">Cible(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Contact(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Planque(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Spécialité(s)</a>
	</div>


	<div class="mb-24">
		<div class="grid overflow-hidden grid-cols-12 grid-rows-10 gap-9 justify-items-center p-8">
			<div class="box row-start-3 row-span-1 col-start-5 col-span-4">

				<input type="text" placeholder="Numéro de code" class="input input-bordered input-lg w-max max-w-xs text-center"/>

			</div>
			<div class="box row-start-4 col-start-2 col-span-4">

				<input type="text" placeholder="Nom" class="input input-bordered input-lg w-full max-w-xs text-center"/>

			</div>
			<div class="box row-start-4 col-start-8 col-span-4">

				<input type="text" placeholder="Prénom" class="input input-bordered input-lg w-full max-w-xs text-center"/>

			</div>
			<div class="box row-start-5 col-start-5 col-span-4">

				<label class="label">
					<span class="label-text ml-3">Date de naissance</span>
				</label>
				<input type="date" placeholder="Type here" class="input input-bordered input-sm  w-full max-w-xs"/>

			</div>
			<div class="box row-start-6 col-start-5 col-span-4">

				<select class="select select-bordered select-sm w-full max-w-xs">
					<option disabled selected>Nationalité</option>
					<option>Small Apple</option>
					<option>Small Orange</option>
					<option>Small Tomato</option>
				</select>

			</div>

		</div>

	</div>
{% endblock %}
