{% extends 'base.html.twig' %}

{% block title %}admin-missions
{% endblock %}

{% block content %}


	<div class="tabs flex justify-center object-top">
		<a class="tab sm:tab-lg tab-bordered tab-active">Mission(s)</a>
		<a class="tab sm:tab-lg tab-bordered ">Agent(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Cible(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Contact(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Planque(s)</a>
		<a class="tab sm:tab-lg tab-bordered">Spécialité(s)</a>
	</div>


</div>

<div class="flex justify-center mt-4 gap-2">

	<button class="btn btn-xs btn-warning">Modifier</button>
	<button class="btn btn-xs btn-success ">Accepter</button>
	<button class="btn btn-xs btn-error">Supprimer</button>

</div>

<div class="container mb-24 flex justify-center">

		

			{{ form_start(form) }}
			

			
    



			{{ form_end(form) }}

	
		
</div>

{% endblock %}
