{% extends 'base.html.twig' %}

{% block title %}BDD - Page Introuvable
{% endblock %}

{% block content %}

	
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row lg: justify-center">
    <script class="max-w-sm rounded-lg shadow-2xl" src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ctdyhptp.json"  background="transparent"  speed="1"  style="width: 350px; height: 350px;"  loop  autoplay></lottie-player>
      <h1 class="text-5xl pl-8 font-bold">Attention à ne pas te perdre!</h1>
      <p class="py-6">Ne risque pas ta vie, reviens à la maison.</p>
      <a href="{{path('missions')}}"><button class="btn btn-primary">Accueil</button></a>
    </div>
  </div>
</div>
	


{% endblock %}
